### •Nama: Dimas Abdi Yudha
### •Kelas: Informatika A’21 A1
### •NIM: 2109106005
### •Posttest: 4 Data Processing

In [2]:
import numpy as np
import pandas as pd

# Mengecek Data

In [3]:
df1 = pd.read_csv("footballData.csv")

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Columns: 106 entries, sofifa_id to rb
dtypes: float64(18), int64(44), object(44)
memory usage: 15.3+ MB

In [ ]:
df1.shape

In [ ]:
df1.head

# Membagi Data training dan testing

In [ ]:
from sklearn.model_selection import train_test_split

# Pembatas dari ukuran dataset
X = df1.iloc[:, : -1]
y = df1.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Pembagian Dataset : ")

# Ukuran dari x
print("Ukuran X_train", X_train.shape)
print("Ukuran X_test", X_test.shape)

# Ukuran daru y
print("Ukuran y_train", y_train.shape)
print("Ukuran y_test", y_test.shape)

# Data Transforming

## Melakukan normalisasi data pada salah satu attribute

In [5]:
from sklearn.preprocessing import MinMaxScaler

normalisasi_data = df1[["value_eur"]]
normalisasi_data.columns = ["value_eur"]

min_maxs = MinMaxScaler()
normalisasi = min_maxs.fit_transform(normalisasi_data[["value_eur"]])
dfNr = pd.DataFrame(normalisasi)
dfNr.columns =["Normalisasi Harga Euro"]

normalisasi_data = normalisasi_data.join(dfNr["Normalisasi Harga Euro"]).reset_index()
normalisasi_data = normalisasi_data.drop("index", axis=1)

print("Hasil akhir normalisasi : ")
normalisasi_data.head()

Hasil akhir normalisasi :

   value_eur  Normalisasi Harga Euro
0   67500000                0.639810
1   46000000                0.436019
2   75000000                0.710900
3   80000000                0.758294
4   90000000                0.853081

### Melakukan standarisasi pada dataset

In [6]:
from sklearn.preprocessing import StandardScaler

df2 = df1[["overall", "potential" , "wage_eur", "international_reputation"]]

standard_scaler = StandardScaler()
standarisasi = standard_scaler.fit_transform(df2)
df_Standar = pd.DataFrame(standarisasi)
df_Standar.columns = ["overall", "potential" , "wage_eur", "international_reputation"]

print("Sebelum di standarisasi : ")
np.std(df2)

Data sebelum di standarisasi :

overall                         7.002093
potential                       6.109824
wage_eur                    19654.256127
international_reputation        0.361831
dtype: float64

In [ ]:
print("Sesudah di standarisasi : ")
np.std(df_Standar)

In [ ]:
df1 = pd.read_csv("footballData.csv")

df1.isna().sum()

### Melakukan Data cleaning pada data dengan nilai duplikat

In [8]:
df1[df1.duplicated()]

print("Data Duplikat : ")
df1.duplicated().sum()

Data Duplikat :

0

### Membuat data duplikat karena tidak ada pada dataset

In [ ]:
df_dup = pd.concat([df1]*2, ignore_index=True)
df_dup.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
37883     True
37884     True
37885     True
37886     True
37887     True
Length: 37888, dtype: bool

In [ ]:
print("Jumlah Duplikat : ")
df_dup.duplicated().sum()

### Menghapus data duplikat

In [ ]:
df_dup.drop_duplicates(inplace = True)
df_dup.duplicated()

In [ ]:
print("Jumlah duplikat : ")
df_dup.duplicated().sum()

### Mengganti tipe data salah satu atribut angka

In [12]:
print("Tipe data sebelum di ubah : ", df1["overall"].dtypes)
df_ubah = df1[["overall"]].astype(float)
print("Tipe data sesudah di ubah : ", df1["overall"].dtypes)

Tipe data sebelum di ubah :  int64
Tipe data sesudah di ubah :  int64

### Melakukan One Hot Encoding

In [14]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encode = OneHotEncoder(sparse=False)

onehot = one_hot_encode.fit_transform(df1[["potential"]])
df_onehot_encoding = pd.DataFrame(onehot)
df3 = df1[['potential']].join(df_onehot_encoding)

df3.head()

,potential,0,1,2,3,4,5,6,7,8,...,38,39,40,41,42,43,44,45,46,47
0,93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0